@model FlightReservation.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDetail.FlightID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
